<div class="text-layout">
  <h1>Pipes personalizados</h1>
  <p>Pipes creados por {{ "nosotros" | mayusculas: mayuscula }}</p>
</div>

<p-toolbar>
  <div class="p-toolbar-group-left"></div>

  <div class="p-toolbar-group-right">
    <button pButton type="button" class="mr-1" (click)="toggleMayusculas()">
      Toggle mayúsculas
    </button>
    <button pButton icon="pi pi-sort" label="Por nombre" class="mr-1"></button>
    <button
      pButton
      icon="pi pi-sort"
      label="Valores"
      class="mr-1 p-button-success"
    ></button>
    <button
      pButton
      icon="pi pi-sort"
      label="Por color"
      class="mr-1 p-button-help"
    ></button>
  </div>
</p-toolbar>
