<!-- <div class="text-layout">
  <h1>{{ nombre | titlecase }}</h1>
</div>

<button
  pButton
  label="Cambiar nombre"
  (click)="mostrarNombre()"
  icon="pi pi-check"
  iconPos="right"
  class="p-button-help"
></button>

<p-card [header]="nombre | titlecase" subheader="Esto es un subheader">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus sed at
  distinctio earum asperiores consectetur rerum nulla eum tempora deserunt.
  Deleniti tempora iste maiores voluptatibus cum, doloremque commodi! Ea, quae.
</p-card> -->

<app-menu></app-menu>

<router-outlet></router-outlet>
